* {
	box-sizing: border-box;
    font-size: medium;
  }
*::selection{
    background: #60b893;
}
a{
    text-decoration: none;
    color: green;
    font-size: large;
}
.logo{
    color: green;
    font-size: 1.5em;
    font-weight: bolder;
}
header nav{
    padding-left: 200px;
    font-size: 1.5em;
    font-weight: bolder;
    padding-bottom: 40px;
}
.header-search{
   width: 250px;
   /* margin-left: 20px; */
   border : solid;
   border-color: green;
   border-style: inherit;
   padding-bottom: 10px;
   padding-left: 20px;
   /* border-radius: 3px; */
}

/*body */
.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 250px;
    width: 80%;
}

.page-controls button{
    background-color: #27803d;
    border: solid grey;
    border-radius: 5px;
    color: #ffffff;
    /* margin-left: 10px;*/
    margin-right: 5px; 
    width: 80px;
    height: 30px;
}

.list-bar{
    align-content: center;
    flex-basis: content;
    /* margin-left: 15px; */
    /* width: 60%; */
}
.list-bar a:hover{
    /* text-transform: uppercase; */
    color: #27803d  ;
    /* font-weight: 700; */
    font-style: italic;
    transition-duration: 500ms;
}

.like-post{
    position: absolute;
    right: 30%;
    color: rgb(6, 88, 6);
}


.read-container{
    display: flex;
    justify-content: space-between;
}

.side-menu-container{
    width: 25%;
}
.blog-container{
    width: auto;
    padding-left: 250px;
    padding-right: 30px;
    /* margin-right: 300px; */
    letter-spacing: 0.5px;
    line-height: 1.5em;
    font-weight: 200;
    /* width: 200px ; */
}

.blog-container h5{
    color: green;
}

.blog-letst-content{
    width: 300px;
}


.user-touch-div{
    width: 500px;
    /* text-align: right; */
}
.user-touch-div input[type="button"]{
    background-color: #27803d;
    border: solid grey;
    border-radius: 5px;
    color: #ffffff;
    /* margin-left: 10px;*/
    margin-right: 5px; 
    width: 70px;
    height: 30px;
}

.user-touch-div span{
    padding-right: 15px;
}

.user-touch-div input[type="button"]:hover{
    background-color: #286636;
}

.user-comment-div h2{
    color: green;
}

.user-comment-div button{
    background-color: #27803d;
    border: solid grey;
    border-radius: 5px;
    color: #ffffff;
    width: 70px;
    height: 30px;
}
.user-comment-div button:hover{
    background-color: #286636;
}
.view-comment{
    border-bottom: 1px solid rgb(219, 219, 219);
    margin-top: 20px;
    margin-bottom: 20px;
}
.comment{
    width: 100%;
    height: 100px;
}
/*body */

/*footer */
footer a{
    margin-left: 50%;
    font-style: italic;
}
